<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Raymark.APIWebServiceTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Raymark.APIWebServiceTest.Properties.Settings>
            <setting name="Raymark_APIWebServiceTest_Raymark_APIWebReference_ClientWebService"
                serializeAs="String">
                <value>http://10.130.166.227:10001/CCA1APIWS/ClientWebService.asmx</value>
            </setting>
        </Raymark.APIWebServiceTest.Properties.Settings>
    </applicationSettings>
</configuration>